<div class="row">
  <label for="student_name">What is your first and last name?</label>
  <input id="student_name" class="form-control" name="student[name]" type="text" value="<%= @student.name %>">
</div>
