<h1>Edit <%= @student.name %> </h1>


<%= render('layouts/errors', :object => @student) %>

<form action="/students/<%= @student.id %>" method="post">
	<input name="_method" type="hidden" value="patch">

	<%= render('form') %>

  <button>Update your Profile</button>
</form>


<p><a href="/students">Return to Student's Page</a></p>
