<% content_for(:title, "Edit Student | LinkList") %>

<h1>Edit <%= @student.name %> </h1>


<%= render('layouts/errors', :object => @student) %>

<form action="/students/<%= @student.id %>" method="post">
	<input name="_method" type="hidden" value="patch">

	<%= render('form') %>
	<br>
  <button class="btn btn-danger">Update your Profile</button>
</form>

<br>
<p><a href="/students">Return to Student's Page</a></p>
