<% content_for(:title, "New Student | LinkList") %>

<h1>New Student</h1>


<%= render('layouts/errors', :object => @student) %>

<form action="/students" method="post">

	<%= render('form') %>

  <button>Create your Profile</button>
</form>


<p><a href="/students">Return to students Page</a></p>
