<% content_for(:title, "Edit Link | LinkList") %>

<h1>Edit Link</h1>

<%= render('layouts/errors', :object => @link) %>

<form action="/links/<%= @link.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <%= render('form') %>

  <button>Update Link</button>
</form>


<p><a href="/">Return to Links Page</a></p>
