<h1>Links</h1>


<h4>All Links:</h4>

<p>Click on each link's name to see the description of why this link is a good resource</p>
<ul>
  <% @links.each do |link| %>
    <li><a href="/links/<%= link.id %>"> <%= link.name %></a></li>
  <% end %>
</ul>


<h3><a href="/links/new">Create a New Link</a></h3>
