<h1>New Link</h1>

<%= render('layouts/errors', :object => @link) %>

<form id = "new_link" action="/links" method="post">
  <select form="new_link" name="link[student_id]">
    <% @students.each do |student| %>
      <option value="<%= student.id %>"><%= student.name %></option>
    <% end %>
   </select>

  <%= render('form') %>

  <button>Create Link</button>
</form>


<p><a href="/">Return to Links Page</a></p>
